<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Get Your Book Recommendations</title>
  <link href= "{{url_for('static', filename= 'recommend.css')}}" rel= "stylesheet"
            type= "text/css"/>
</head>
<body>
  <div class="container">
    <header>
      <h1>Loved a book? Type it in — your next read awaits!</h1>
    </header>

    {% with messages= get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="flash-message">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <section class="input-section">
      <form action="{{ url_for('recommend') }}" method="POST">

        {% if place == "e.g. Twilight or, Animal Farm" %}
          <input list="books" id="bookInput" name="book" placeholder="{{ place }}" class= "light-placeholder"/>
        {% else %}
          <input list="books" id="bookInput" name="book" placeholder="{{ place }}" class= "bold-placeholder"/>
        {% endif %}

        <datalist id="books">
          {% for item in items %}
              <option value="{{ item }}">
          {% endfor %}
        </datalist>
        <button type="submit">Show Recommendations</button>
      </form>
    </section>
    
    {% if place == "e.g. Twilight or, Animal Farm" %}
      <h2 class="sub-head">Some Books You May Like</h2>
    {% else %}
      <h2 class="sub-head">Recommended Books For You</h2>
    {% endif %}

    <section class="recommendations">
      {% for book in books %}
        <div class="book-card">
          <img src="{{ book.coverImg }}" alt="{{ book.title }}">
        
          <h3 class="book-title">{{ book.title }}</h3>
        
          <p><span class="subheading">Author:</span> {{ book.author }}</p>
          <p><span class="subheading">Description:</span> {{ book.description }}</p>
        </div>
      {% endfor %}
    </section>

    <footer>
      <a href="{{url_for('home')}}" class="back-link">← Back to Home</a>
    </footer>
  </div>

  <div class="footer-content">
    <p>&copy; 2025 Shagun Shaw. All rights reserved.</p>
  </div>
</body>
</html>
